.App {
  text-align: center;
}

header h1 {
  color: lightblue;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.blogpost h3 {
  font-style: italic;
  color: #888;
}

.comment {
  font-style: italic;
  padding: 5px;
  margin: 10px;
  background-color: lightblue;
  display: inline-block;
}